Personal Agent Monica.json
{
  "name": "Personal Agent Monica",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        0
      ],
      "id": "08a34b6d-1606-47e9-9017-602cabbe4c18",
      "name": "Telegram Trigger",
      "webhookId": "53c9f19d-9fde-4246-9667-e6df84d3c626",
      "credentials": {
        "telegramApi": {
          "id": "4IzkT7uRvQajNvXu",
          "name": "Personal Agent Monica"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        224
      ],
      "id": "58904e85-b046-4dbe-af3a-605688155b58",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "d749ca23-4cb9-4914-91bd-0621ccaaf626",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qqHVG1El3Pn0jsJY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        368
      ],
      "id": "5c07a4d6-9d49-4abf-8777-02c3418ce66a",
      "name": "Send a text message",
      "webhookId": "90b7e084-91ee-45df-9194-b7ceb2df403e",
      "credentials": {
        "telegramApi": {
          "id": "4IzkT7uRvQajNvXu",
          "name": "Personal Agent Monica"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": " \n\nTo jest wiadomość od Kate: \n{{ $json.message.text }}\n\nRola\nMasz na imię Monika. Jesteś Personalną Asystentką Kate. \nBądź zawsze miła i pomocna.\n\nRozmawiasz z {{ $json.message.from.first_name }}\n\nData i godzina : {{ $now }}\n\nOdpowiadaj zwięźle."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        0
      ],
      "id": "1478bc72-21bc-433e-b60b-bc1bb4b81f99",
      "name": "AI Agent Monica"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "a1c05f9e-6ddf-4d5b-817f-3d1ad22ce11d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ee81670f-0b05-46ab-9ee1-2478134679c3",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tekst"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "efbf7ea9-d8d4-4b74-be5a-b25a01bc3459",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "294664c8-d777-4532-bad9-04344b6e51ae",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -160
      ],
      "id": "80e9a483-f74e-40db-8a17-341657c0b749",
      "name": "Get audio",
      "webhookId": "7178a735-0b9e-4ef2-a630-a0ead169021f",
      "credentials": {
        "telegramApi": {
          "id": "4IzkT7uRvQajNvXu",
          "name": "Personal Agent Monica"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        320,
        -160
      ],
      "id": "94945eff-7653-442b-8bd4-14f4b21e1934",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "qqHVG1El3Pn0jsJY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6ee4e7a-8aac-4477-8d87-775c31cca6ef",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        16
      ],
      "id": "d9eb2802-5347-4e85-8236-b0c59a8afd8f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent Monica').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1168,
        -16
      ],
      "id": "e54ab638-40e8-42d2-bcc3-697a73b1e809",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "qqHVG1El3Pn0jsJY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6835bb71-dadc-49cc-93f9-de7c8451a038",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        -16
      ],
      "id": "4521acb6-e6c8-418c-94eb-a0fc55c9faae",
      "name": "if voice message was send"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        -16
      ],
      "id": "fc3f9ab7-0f39-428c-85b7-842d15f0120e",
      "name": "Send an audio file",
      "webhookId": "1d9667c0-5ebe-4061-9276-f18ebf03f4c8",
      "credentials": {
        "telegramApi": {
          "id": "4IzkT7uRvQajNvXu",
          "name": "Personal Agent Monica"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        320
      ],
      "id": "264d90bf-1f83-47db-87dc-cd5402502ef0",
      "name": "downolad imagine",
      "webhookId": "7eb65119-13d7-4133-bcb0-8f869670ca93",
      "credentials": {
        "telegramApi": {
          "id": "4IzkT7uRvQajNvXu",
          "name": "Personal Agent Monica"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d38e0765-6c25-4797-9efc-804d7a7cc640",
              "name": "output",
              "value": "={{ $json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        336
      ],
      "id": "d7f9aff9-bc5b-4cc5-a347-2d389498b492",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        368,
        320
      ],
      "id": "a0ed1035-bd76-43f1-bf32-6ff66786832e",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "qqHVG1El3Pn0jsJY",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Monica",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Monica",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Monica": {
      "main": [
        [
          {
            "node": "if voice message was send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "downolad imagine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent Monica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent Monica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if voice message was send": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downolad imagine": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0fe5f226-6c0d-4b9c-9665-01485f15bd11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae002c203006b6472c35ba76f04fe70f5ae8903f2d0b0bcdd00c826bdca880e8"
  },
  "id": "XHQkQ1x65Uc_f0d081xzp",
  "tags": []
}